body{
    height: auto;
    margin: 2rem;
}
.spanText{
    font-size: 13px;
    white-space: nowrap;
}
.cursor{
    cursor: pointer;
}
.bgdiv{
    background-color :#FFFAE1;
}
.iconsize{
    font-size: 12px;
}
th{
    background-color:aquamarine !important;
}